<h1><%= @cocktail.name %></h1>
<%= cl_image_tag @article.photo.key, height: 500, width: 600, crop: :fill %>

<% @cocktail.doses.each do |dose| %>
  <p> <%= dose.description %> <%= dose.ingredient.name %> </p>
<% end %>

<div>
<%= link_to "add your dose!", new_cocktail_dose_path(@cocktail)%>
</div>
<div>
  <%= link_to "See all cocktails", root_path %>
</div>
